:root {
  --text-primary: #0b0b0b;
  --bg-primary: #fffaf0;
  --bg-secondary: #e6eedf;
  --link-border: linear-gradient(to right, #fffaf0, #0b0b0b, #fffaf0);
  --boxshadow: rgba(11, 11, 11, 0.2);
  --invert-svg: 0;
  --svg-shadow: 0 5px 5px;
  --transition: 500ms ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
  font-family: "Fira sans", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  overflow-x: hidden;
}

header {
  justify-content: space-between;
  padding-inline: 1.5rem;
  height: 4rem;
  box-shadow: 0 0 20px var(--boxshadow);
}

#home {
  height: 80svh;

  .presentation {
    align-content: center;
    padding-left: 18vw;

    h1 {
      padding-bottom: 1rem;
    }

    .scroller {
      max-width: 600px;

      .scroller-inner {
        flex-wrap: wrap;
        gap: 1rem;
      }

      &[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(
          90deg,
          transparent,
          #000 20%,
          #000 80%,
          transparent
        );
        mask: linear-gradient(
          90deg,
          transparent,
          #000 20%,
          #000 80%,
          transparent
        );
      }

      &[data-animated="true"] .scroller-inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 40s forwards linear infinite;
      }

      .presentation-list li {
        padding-inline: 1rem;
      }
    }
  }
}

#services {
  h2 {
    background-color: inherit;
    max-width: fit-content;
    transform: translateY(-50%);
    margin-left: 30%;
    border-radius: 0.5rem;
    padding: 1rem 6rem;
    box-shadow: 0 0 20px var(--boxshadow);
  }

  .cards {
    align-items: center;
    flex-direction: column;
    margin-block: 12rem 22rem;
    gap: 8rem;

    .card {
      gap: 6rem;
      padding: 2rem;
      width: 50%;
      text-wrap: nowrap;

      &:nth-of-type(odd) {
        flex-direction: row-reverse;
      }

      img {
        max-width: 340px;
        height: 240px;
        object-fit: contain;
        filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg));
      }

      h3 {
        padding-bottom: 1rem;
      }

      ul {
        padding-left: 1.25rem;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1.5rem;

  h2:first-child {
    background-color: inherit;
    max-width: fit-content;
    transform: translateY(-50%);
    margin-left: 50%;
    border-radius: 0.5rem;
    padding: 0.5rem 4rem;
    box-shadow: 0 0 20px var(--boxshadow);
  }

  .top {
    display: flex;
    width: 100%;
    padding-block: 2rem 3rem;
    gap: 6rem;
    justify-content: center;
    align-items: start;
  }

  .socials {
    display: flex;
    gap: 1rem;

    & a {
      display: flex;
      padding: 0.1rem;
      font-size: 28px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;

    .copyright {
      font-size: 18px;
    }
  }

  span {
    gap: 0.25rem;
  }
}

header,
#services,
html {
  background-color: var(--bg-primary);
}

footer {
  background-color: var(--bg-secondary);
}

header,
.logo-wrapper,
nav,
.scroller-inner,
.cards,
.card,
footer span,
.footer-buttons,
button {
  display: flex;
}

section {
  display: grid;
}

header,
.card,
.footer-buttons,
.footer-buttons button {
  align-items: center;
}

.logo {
  height: 25px;
}

nav,
.footer-buttons {
  gap: 2rem;
}

.footer-buttons button {
  gap: 0.5rem;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

nav a {
  position: relative;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-image: var(--link-border);
    opacity: 0.2;
  }

  &:hover::after,
  &:focus-visible::after {
    transition: width var(--transition);
    width: 100%;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span,
button {
  font-weight: 300;
  font-family: inherit;
}

h1 {
  font-size: clamp(3rem, 4vw + 0.5rem, 5.25rem);
}

h3 {
  font-size: clamp(1.6rem, 1.25vw + 0.5rem, 3rem);
}

a,
span,
button {
  font-size: 0.95rem;
}

button {
  border: 0;
  background: 0;
  color: inherit;
  cursor: pointer;
}

#nav-toggle {
  display: none;
}

ul:is(.contact-info, .presentation-list) {
  list-style-type: none;
}

img {
  filter: invert(var(--invert-svg));
}

@media (prefers-reduced-motion: no-preference) {
  .card {
    opacity: 0;
    scale: 0.8;
    animation: fade-in linear forwards;
    animation-timeline: view(50vh -100vh);
    animation-range: contain;
  }
}

@keyframes fade-in {
  80% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media (max-width: 110em) {
  #services .cards {
    flex-direction: column;
    gap: 3rem;

    & .card {
      max-height: 320px;

      & img {
        max-width: 250px;
      }
    }
  }
}

@media (max-width: 70em) {
  .scroller {
    margin-right: 50%;
  }

  #nav-toggle {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 3;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    .nav-toggle-icon {
      transition: rotate 600ms 200ms;
    }

    &[data-state="closed"] {
      .nav-toggle-icon {
      }
    }
    &[data-state="open"] {
      .nav-toggle-icon {
        rotate: 0.5turn;
      }
    }

    &[data-state="closed"] :is(.top, .bottom) {
      animation: open-icon 800ms forwards;
    }

    &[data-state="open"] :is(.top, .bottom) {
      animation: close-icon 800ms forwards;
    }

    .line.top {
      --rotation: -45deg;
      transform-origin: 65px 45px;
    }

    .line.bottom {
      --rotation: 45deg;
      transform-origin: 60px 55px;
    }
  }

  @keyframes close-icon {
    0% {
      stroke-dashoffset: 0;
    }
    40% {
      stroke-dashoffset: 79.9;
    }
    60% {
      stroke-dashoffset: 79.9;
      rotate: var(--rotation);
    }
    100% {
      stroke-dashoffset: 0;
      rotate: var(--rotation);
    }
  }

  @keyframes open-icon {
    0% {
      stroke-dashoffset: 0;
      rotate: var(--rotation);
    }
    40% {
      stroke-dashoffset: 79.9;
      rotate: var(--rotation);
    }
    60% {
      stroke-dashoffset: 79.9;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  nav,
  nav[aria-expanded="true"] {
    transform-origin: top right;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    scale: 1;
    visibility: visible;
    align-items: start;
    padding: 2rem 4rem 3rem 4rem;
    right: 0;
    top: 4rem;
    background-color: inherit;
    border-bottom-left-radius: 0.5rem;
    transform-origin: top right;
    transition: scale var(--transition), visibility var(--transition);
  }

  nav,
  nav[aria-expanded="false"] {
    scale: 0;
    visibility: hidden;
  }

  .cards {
    gap: 12rem !important;

    .card {
      flex-direction: column !important;
      gap: 1.5rem !important;

      h3 {
        text-align: center;
      }

      img {
        max-width: 160px !important;
      }
    }
  }

  #services,
  #contact {
    h2 {
      margin-inline: auto;
    }
  }

  #contact {
    .logo-wrapper {
      align-items: end;
      margin-bottom: 3rem;

      .logo {
        height: 38px;
      }
    }

    .top {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .contact-info {
        margin-bottom: 1.5rem;
      }
    }
  }
}
