:root {
  --text-primary: #0b0b0b;
  --bg-primary: #fffaf0;
  --invert-svg: 0;
  --svg-shadow: 0 2px 2px;
  --box-shadow: 0 0 20px rgba(11, 11, 11, 0.2);
  --thumbnail-gradient-1: #fffaf0;
  --thumbnail-gradient-2: #0b0b0b;
  --transition: 500ms linear forwards;
  --thumbnail-width: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  color: var(--text-primary);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  letter-spacing: 1px;
}

header {
  padding-inline: 1.5rem;
  justify-content: space-between;
  z-index: 1;
  inset: 0;
  height: 4rem;
  box-shadow: var(--box-shadow);

  .logo-wrapper {
    gap: 1rem;

    .logo {
      height: 42px;
    }

    .logo-text {
      flex-direction: column;
      line-height: 1.2;

      p {
        font-size: 17px;
        font-weight: 400;
      }

      span {
        font-size: 11px;
        letter-spacing: 3px;
        font-weight: 100;
        opacity: 0.7;
      }
    }
  }

  .contact-info {
    gap: 1.5rem;

    a {
      color: var(--text-primary);
      text-decoration: none;
      font-size: 14px;
      font-weight: 100;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 16px;
        aspect-ratio: 1;
      }
    }
  }
}

main {
  height: (100svh - 7rem);
  inset: 4rem 0 3rem 0;

  .presentation {
    padding: 30svh 0 0 18svw;
    z-index: 1;

    h1 {
      padding-bottom: 1rem;
    }

    .scroller {
      max-width: 600px;

      .scroller-inner {
        flex-wrap: wrap;
        gap: 1rem;
      }

      &[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(
          90deg,
          transparent,
          #000 20%,
          #000 80%,
          transparent
        );
        mask: linear-gradient(
          90deg,
          transparent,
          #000 20%,
          #000 80%,
          transparent
        );
      }

      &[data-animated="true"] .scroller-inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 40s forwards linear infinite;

        &:hover {
          animation-play-state: paused;
        }
      }

      .presentation-list li {
        padding-inline: 1rem;
      }
    }
  }

  .card {
    padding: 30svh 0 0 18svw;
    gap: 10rem;

    .card-text {
      opacity: 0;
      filter: blur(10px);
      translate: 0 50svh;

      ul {
        padding-left: 2rem;
      }
    }

    img {
      translate: 0 -50svh;
      max-height: 300px;
      max-width: 470px;
      aspect-ratio: 16 / 9;
      object-fit: contain;
      opacity: 0;
      filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg))
        blur(10px);
    }
  }

  footer {
    bottom: 0;
    width: 100%;
    flex-direction: column;

    .footer-row {
      justify-content: space-between;
      width: 100%;

      &.top {
        justify-content: end;

        .right {
          padding: 0 1rem 1rem 10rem;
          clip-path: polygon(18.5% 0%, 100% 0%, 100% 100%, 0% 100%);

          .thumbnail-grid {
            gap: 0.5rem;

            .thumbnail {
              background-image: linear-gradient(
                to right,
                var(--thumbnail-gradient-2) 10%,
                var(--thumbnail-gradient-1) 20%,
                var(--thumbnail-gradient-2) 70%,
                var(--thumbnail-gradient-1) 90%
              );
              clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
              width: var(--thumbnail-width);
              aspect-ratio: 1;
              place-content: center;
              user-select: none;
              grid-row: 2;
              transition: background-position 300ms linear;
              background-size: 200% 100%;
              background-position: right bottom;

              &::after {
                content: "";
                inset: 2px;
                z-index: -1;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
              }

              img {
                max-width: calc(var(--thumbnail-width) - 80px);
                max-height: calc(var(--thumbnail-width) - 60px);
                aspect-ratio: 4 / 3;
                filter: invert(var(--invert-svg));
                object-fit: contain;
              }

              &:hover:not(.thumbnail-active),
              &:focus-visible:not(.thumbnail-active) {
                background-position: left bottom;
              }
            }
          }
        }
      }
    }

    h2 {
      padding: 0.75rem 3rem 0.75rem 6rem;
      text-wrap: nowrap;
      place-items: center;
      right: -6rem;
      place-self: end;
      z-index: 1;

      &::before {
        content: "";
        background-color: var(--text-primary);
        place-content: center;
        right: -1rem;
        width: 3rem;
        height: 1.5rem;
        clip-path: polygon(10% 0, 35% 50%, 10% 100%, 0% 100%, 25% 50%, 0% 0%);
      }

      &::after {
        content: "";
        inset: 0;
        z-index: -1;
        clip-path: polygon(25% 0%, 100% 0%, 78.5% 100%, 0% 100%);
      }
    }

    .footer-row.bottom {
      padding: 0.5rem 1.5rem;
    }

    span {
      gap: 0.25rem;
    }
  }
}

html,
header,
.thumbnail::after,
h2::after,
.footer-row.bottom,
.right {
  background-color: var(--bg-primary);
}

header,
main,
.card,
footer {
  position: fixed;
}

h2::before,
h2::after,
.thumbnail::after {
  position: absolute;
}

.right,
h2,
.thumbnail {
  position: relative;
}

header,
.contact-info,
.contact-info a,
main,
.logo-wrapper,
.logo-text,
.scroller-inner,
.card,
footer,
.footer-row,
.footer-buttons,
footer span,
button {
  display: flex;
}

section,
.main-inner,
h2,
h2::before,
.thumbnail-grid,
.thumbnail {
  display: grid;
}

header,
.logo-wrapper,
footer,
.footer-buttons,
.footer-buttons button {
  align-items: center;
}

.footer-buttons {
  gap: 2rem;

  & button {
    gap: 0.5rem;
  }
}

a,
h1,
h2,
h3,
p,
li,
span,
button {
  font-weight: 300;
  font-family: inherit;
}

h1 {
  font-size: clamp(3.75rem, 4vw + 0.5rem, 6.25rem);
}

h2 {
  font-size: clamp(1.25rem, 1.5vw + 0.5rem, 2.5rem);
}

span,
button {
  font-size: 0.95rem;
}

button {
  border: 0;
  background: 0;
  color: inherit;
  cursor: pointer;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

ul:is(.contact-info, .presentation-list) {
  list-style-type: none;
}

img {
  filter: invert(var(--invert-svg));
}

.thumbnail-active {
  --thumbnail-gradient-2: #8300c4;
}

.animate-presentation-leave {
  animation: animate-presentation-leave var(--transition);
}

.animate-presentation-enter {
  animation: animate-presentation-enter var(--transition);
}

.animate-card-text-enter {
  animation: animate-card-text-enter var(--transition);
}

.animate-card-text-leave {
  animation: animate-card-text-leave var(--transition);
}

.animate-card-img-enter {
  animation: animate-card-img-enter var(--transition);
}

.animate-card-img-leave {
  animation: animate-card-img-leave var(--transition);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes animate-presentation-leave {
  0% {
    filter: blur(0);
    opacity: 1;
    translate: 0 0;
  }
  70% {
    filter: blur(5);
    opacity: 0.25;
    translate: 0 -20%;
  }
  to {
    filter: blur(10px);
    opacity: 0;
    translate: 0 -40%;
  }
}

@keyframes animate-presentation-enter {
  0% {
    filter: blur(10px);
    opacity: 0;
    translate: 0 -40%;
  }
  70% {
    filter: blur(5);
    opacity: 0.25;
    translate: 0 -20%;
  }
  to {
    filter: blur(0);
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes animate-card-text-enter {
  0% {
    opacity: 0;
    filter: blur(10px);
    translate: 0 50svh;
  }
  70% {
    opacity: 0.1;
    filter: blur(5px);
    translate: 0 25svh;
  }
  to {
    opacity: 1;
    filter: blur(0);
    translate: 0 0;
  }
}

@keyframes animate-card-text-leave {
  0% {
    opacity: 1;
    filter: blur(0);
    translate: 0 0;
  }
  70% {
    opacity: 0.1;
    filter: blur(5px);
    translate: 0 25svh;
  }
  to {
    opacity: 0;
    filter: blur(10px);
    translate: 0 50svh;
  }
}

@keyframes animate-card-img-enter {
  0% {
    opacity: 0;
    filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg)) blur(10px);
    translate: 0 -50svh;
  }
  70% {
    opacity: 0.1;
    filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg)) blur(5px);
    translate: 0 -25svh;
  }
  to {
    opacity: 1;
    filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg)) blur(0);
    translate: 0 0;
  }
}

@keyframes animate-card-img-leave {
  0% {
    opacity: 1;
    filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg)) blur(0);
    translate: 0 0;
  }
  70% {
    opacity: 0.1;
    filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg)) blur(5px);
    translate: 0 -25svh;
  }
  to {
    opacity: 0;
    filter: drop-shadow(var(--svg-shadow)) invert(var(--invert-svg)) blur(10px);
    translate: 0 -50svh;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-presentation-leave {
    animation: animate-presentation-leave 0ms forwards;
  }

  .animate-presentation-enter {
    animation: animate-presentation-enter 0ms forwards;
  }

  .animate-card-text-enter {
    animation: animate-card-text-enter 0ms forwards;
  }

  .animate-card-text-leave {
    animation: animate-card-text-leave 0ms forwards;
  }

  .animate-card-img-enter {
    animation: animate-card-img-enter 0ms forwards;
  }

  .animate-card-img-leave {
    animation: animate-card-img-leave 0ms forwards;
  }
}

@media (min-width: 50em) and (max-width: 90em) {
  .card {
    gap: 8rem !important;

    img {
      max-width: 300px !important;
      max-height: 280px !important;
    }
  }

  .footer-row {
    flex-direction: column;
  }

  h2 {
    right: 0 !important;
    padding-left: 4rem !important;

    &::before {
      display: none;
    }

    &::after {
      clip-path: polygon(18.5% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    clip-path: none !important;
    padding: 0 !important;
  }

  .thumbnail-grid {
    --thumbnail-width: 125px !important;
    margin-block: 1rem !important;
    column-gap: 0.25rem !important;

    img {
      max-width: calc(var(--thumbnail-width) - 35px) !important;
      max-height: calc(var(--thumbnail-width) - 15px) !important;
    }
  }

  .bottom {
    flex-direction: row;
    padding: 0 0.75rem 0.5rem 0 !important;
  }

  .footer-buttons {
    gap: 0;
  }
}

@media (max-width: 50em) {
  .card {
    gap: 2rem !important;
    justify-content: center !important;
    align-items: center !important;
    inset: 0;
    margin-bottom: 5rem;
    padding: 0 !important;
    flex-direction: column-reverse;

    .card-text {
      h1 {
        text-align: center;
      }
      ul {
        padding-left: 1.5rem !important;
      }
    }

    img {
      max-width: 200px !important;
      max-height: 180px !important;
    }
  }

  .footer-row {
    flex-direction: column;
  }

  h2 {
    right: 0 !important;
    padding-left: 4rem !important;

    &::before {
      display: none;
    }

    &::after {
      clip-path: polygon(18.5% 0%, 100% 0%, 100% 100%, 0% 100%) !important;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    clip-path: none !important;
    padding: 0 !important;
  }

  .thumbnail-grid {
    --thumbnail-width: 75px !important;
    margin-block: 1rem !important;
    column-gap: 0.25rem !important;

    img {
      max-width: calc(var(--thumbnail-width) - 35px) !important;
      max-height: calc(var(--thumbnail-width) - 15px) !important;
    }
  }

  .bottom {
    flex-direction: row;
    padding: 0 0.75rem 0.5rem 0 !important;
  }

  .footer-buttons {
    gap: 0;
  }

  .contact-info {
    flex-direction: column !important;
    gap: 0 !important;
  }

  .scroller {
    margin-right: 20% !important;
  }
}
